<h1>New Game</h1>

<% @letters.each do |letter| %>
  <span><%= letter %></span>
<% end %>

<p>What is the longest word you can find?</p>

<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" class="question">
  <input type="submit" value="Play" class="submit">
</form>


