// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span {
  font-size: 30px;
  border: 1px solid black;
  padding: 15px;
  background-color: rgb(12, 202, 249);
  color: whitesmoke;
}

p {
  margin-top: 50px;
  font-size: 25px;
  color: red;
}

input {
  height: 50px;
}

.question {
  width: 80%;
  height: 50px;
  font-size: 24px;
  margin-right: -5px;
}

.submit {
  background-color: lightblue;
  width: 10%;
  font-size: 20px;
  padding: 0;
}
